<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.mexyon.net"
      version="0.1.0">
    <name>Calendar</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>
 
 
    <js-module src="www/Toast.js" name="Toast">
        <clobbers target="Toast" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Toast">
                <param name="android-package" value="com.mexyon.net.TestToast"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/TestToast.java" target-dir="src/com/mexyon/net" />      
     </platform>          
</plugin>